* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-container {
  flex: 1;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0;
}

.logo-container {
  width: 125px;
}

.app-logo {
  width: 100%;
}

.nav-items {
  display: flex;
  gap: 20px;
  font-size: 18px;
  list-style-type: none;
}
.nav-container {
  margin-right: 50px;
}

.restaurantContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  place-items: center;
  row-gap: 40px;
}
.restaurantCard {
  width: 250px;
  border: 1px solid black;
  /* padding: 5px; */
  border-radius: 5px;
  background-color: #f0f0f0;
  min-height: 400px;
}

.restaurantCard:hover {
  cursor: pointer;
}
.restaurantImage {
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-position: center;
}

.restaurantCard .restaurant-info {
  max-width: 250px;
  padding: 5px;
}

.restaurant-info > * {
  width: 100%;
}

.restaurant-info h4,
.restaurant-info address,
.restaurant-info h3 {
  margin: 5px 0;
}

footer {
  border: 1px solid black;
  margin-top: 50px;
  padding: 35px 40px;
}

footer div ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

.filter {
  border: 1px solid black;
  padding: 5px 10px;
  width: fit-content;
  margin-top: 10px;
  margin-left: 20px;
}
